data
data/aflowlib_data/
data/data_download/
results
__pycache__
notebooks/AutogluonModel/RandomOverSampler/__version__
notebooks/AutogluonModel/RandomOverSampler/learner.pkl
notebooks/AutogluonModel/RandomOverSampler/metadata.json
notebooks/AutogluonModel/RandomOverSampler/predictor.pkl
notebooks/AutogluonModel/RandomOverSampler/models/NeuralNetFastAImodel-internals.pkl
notebooks/AutogluonModel/RandomOverSampler/models/trainer.pkl
notebooks/AutogluonModel/RandomOverSampler/models/CatBoost/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/ExtraTreesEntr/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/ExtraTreesGini/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/KNeighborsDist/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/KNeighborsUnif/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/LightGBM/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/LightGBMLarge/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/LightGBMXT/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/NeuralNetFastAI/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/NeuralNetTorch/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/RandomForestEntr/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/RandomForestGini/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/WeightedEnsemble_L2/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/WeightedEnsemble_L2/utils/model_template.pkl
notebooks/AutogluonModel/RandomOverSampler/models/WeightedEnsemble_L2/utils/oof.pkl
notebooks/AutogluonModel/RandomOverSampler/models/XGBoost/model.pkl
notebooks/AutogluonModel/RandomOverSampler/models/XGBoost/xgb.ubj
notebooks/AutogluonModel/RandomOverSampler/utils/attr/CatBoost/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/ExtraTreesEntr/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/ExtraTreesGini/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/KNeighborsDist/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/KNeighborsUnif/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/LightGBM/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/LightGBMLarge/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/LightGBMXT/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/NeuralNetFastAI/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/NeuralNetTorch/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/RandomForestEntr/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/RandomForestGini/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomOverSampler/utils/attr/XGBoost/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/__version__
notebooks/AutogluonModel/RandomUnderSampler/learner.pkl
notebooks/AutogluonModel/RandomUnderSampler/metadata.json
notebooks/AutogluonModel/RandomUnderSampler/predictor.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/NeuralNetFastAImodel-internals.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/trainer.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/CatBoost/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/ExtraTreesEntr/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/ExtraTreesGini/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/KNeighborsDist/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/KNeighborsUnif/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/LightGBM/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/LightGBMLarge/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/LightGBMXT/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/NeuralNetFastAI/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/NeuralNetTorch/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/RandomForestEntr/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/RandomForestGini/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/WeightedEnsemble_L2/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/WeightedEnsemble_L2/utils/model_template.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/WeightedEnsemble_L2/utils/oof.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/XGBoost/model.pkl
notebooks/AutogluonModel/RandomUnderSampler/models/XGBoost/xgb.ubj
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/CatBoost/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/ExtraTreesEntr/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/ExtraTreesGini/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/KNeighborsDist/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/KNeighborsUnif/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/LightGBM/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/LightGBMLarge/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/LightGBMXT/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/NeuralNetFastAI/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/NeuralNetTorch/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/RandomForestEntr/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/RandomForestGini/y_pred_proba_val.pkl
notebooks/AutogluonModel/RandomUnderSampler/utils/attr/XGBoost/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/__version__
notebooks/AutogluonModel/Raw/learner.pkl
notebooks/AutogluonModel/Raw/metadata.json
notebooks/AutogluonModel/Raw/predictor.pkl
notebooks/AutogluonModel/Raw/models/NeuralNetFastAImodel-internals.pkl
notebooks/AutogluonModel/Raw/models/trainer.pkl
notebooks/AutogluonModel/Raw/models/CatBoost/model.pkl
notebooks/AutogluonModel/Raw/models/ExtraTreesEntr/model.pkl
notebooks/AutogluonModel/Raw/models/ExtraTreesGini/model.pkl
notebooks/AutogluonModel/Raw/models/KNeighborsDist/model.pkl
notebooks/AutogluonModel/Raw/models/KNeighborsUnif/model.pkl
notebooks/AutogluonModel/Raw/models/LightGBM/model.pkl
notebooks/AutogluonModel/Raw/models/LightGBMLarge/model.pkl
notebooks/AutogluonModel/Raw/models/LightGBMXT/model.pkl
notebooks/AutogluonModel/Raw/models/NeuralNetFastAI/model.pkl
notebooks/AutogluonModel/Raw/models/NeuralNetTorch/model.pkl
notebooks/AutogluonModel/Raw/models/RandomForestEntr/model.pkl
notebooks/AutogluonModel/Raw/models/RandomForestGini/model.pkl
notebooks/AutogluonModel/Raw/models/WeightedEnsemble_L2/model.pkl
notebooks/AutogluonModel/Raw/models/WeightedEnsemble_L2/utils/model_template.pkl
notebooks/AutogluonModel/Raw/models/WeightedEnsemble_L2/utils/oof.pkl
notebooks/AutogluonModel/Raw/models/XGBoost/model.pkl
notebooks/AutogluonModel/Raw/models/XGBoost/xgb.ubj
notebooks/AutogluonModel/Raw/utils/attr/CatBoost/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/ExtraTreesEntr/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/ExtraTreesGini/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/KNeighborsDist/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/KNeighborsUnif/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/LightGBM/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/LightGBMLarge/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/LightGBMXT/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/NeuralNetFastAI/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/NeuralNetTorch/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/RandomForestEntr/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/RandomForestGini/y_pred_proba_val.pkl
notebooks/AutogluonModel/Raw/utils/attr/XGBoost/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/__version__
notebooks/AutogluonModels/ag-20240418_214810/learner.pkl
notebooks/AutogluonModels/ag-20240418_214810/metadata.json
notebooks/AutogluonModels/ag-20240418_214810/predictor.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/NeuralNetFastAImodel-internals.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/trainer.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/CatBoost/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/ExtraTreesEntr/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/ExtraTreesGini/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/KNeighborsDist/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/KNeighborsUnif/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/LightGBM/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/LightGBMLarge/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/LightGBMXT/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/NeuralNetFastAI/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/NeuralNetTorch/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/RandomForestEntr/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/RandomForestGini/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/WeightedEnsemble_L2/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/WeightedEnsemble_L2/utils/model_template.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/WeightedEnsemble_L2/utils/oof.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/XGBoost/model.pkl
notebooks/AutogluonModels/ag-20240418_214810/models/XGBoost/xgb.ubj
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/CatBoost/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/ExtraTreesEntr/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/ExtraTreesGini/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/KNeighborsDist/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/KNeighborsUnif/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/LightGBM/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/LightGBMLarge/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/LightGBMXT/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/NeuralNetFastAI/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/NeuralNetTorch/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/RandomForestEntr/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/RandomForestGini/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_214810/utils/attr/XGBoost/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/__version__
notebooks/AutogluonModels/ag-20240418_223716/learner.pkl
notebooks/AutogluonModels/ag-20240418_223716/metadata.json
notebooks/AutogluonModels/ag-20240418_223716/predictor.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/NeuralNetFastAImodel-internals.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/trainer.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/CatBoost/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/ExtraTreesEntr/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/ExtraTreesGini/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/KNeighborsDist/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/KNeighborsUnif/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/LightGBM/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/LightGBMLarge/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/LightGBMXT/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/NeuralNetFastAI/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/NeuralNetTorch/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/RandomForestEntr/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/RandomForestGini/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/WeightedEnsemble_L2/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/WeightedEnsemble_L2/utils/model_template.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/WeightedEnsemble_L2/utils/oof.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/XGBoost/model.pkl
notebooks/AutogluonModels/ag-20240418_223716/models/XGBoost/xgb.ubj
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/CatBoost/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/ExtraTreesEntr/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/ExtraTreesGini/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/KNeighborsDist/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/KNeighborsUnif/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/LightGBM/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/LightGBMLarge/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/LightGBMXT/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/NeuralNetFastAI/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/NeuralNetTorch/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/RandomForestEntr/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/RandomForestGini/y_pred_proba_val.pkl
notebooks/AutogluonModels/ag-20240418_223716/utils/attr/XGBoost/y_pred_proba_val.pkl
